.filterDrop::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-attachment: fixed;
  filter: blur(24px);
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.1);
}

.frosted-glass {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari */
  background: rgba(255, 255, 255, 0.5);
}
